.section_campaign-details{
	display: none;
	margin-bottom: rem-calc(30);

	&.active{
		display: block;
	}
	
	#dataBrand{
		.set-logo{
			position: relative;
			margin: auto;
			text-align: center;
		}
		
		.confirm-logo{
			display: inline-block;
			vertical-align: middle;
			width: rem-calc(25);
			height: rem-calc(25);
			margin-left: rem-calc(8);
			background-color: $light-gray;
			border-radius: 50%;
			background-image: url('../img/ok.png');
			background-repeat: no-repeat;
			background-size: 50%;
			background-position: center;
			cursor: pointer;
		}

		.cropit-image-zoom-input{
			display: inline-block;
			vertical-align: middle;
		}

		.label-logo-upload{
			position: absolute;
			right: 60px;
			bottom: 70px;
			width: rem-calc(48);
			height: rem-calc(48);
			border-radius: 50%;
			background-image: url(../img/edit-lightbtn.png);
			background-color: $light-gray;
			background-repeat: no-repeat;
			background-position: center;

			&.ok{
				background-image: url(../img/ok.png);
				background-size: 60%;
			}
		}

		.label-campaign-img{
			display: inline-block;
			margin-top: rem-calc(12);
			padding: 2px 18px 8px 18px;
			background-color: lighten($light-gray,20);
			font-size: rem-calc(12);
			font-weight: 600;
			text-transform: uppercase;
			color: $dark-gray;
			border-radius: rem-calc(8);

			i{
				position: relative;
				top: 4px;
				font-size: rem-calc(28);
				font-weight: 600;
				font-style: inherit;
			}
		}

		.ex-portada{
			position: relative;
			padding-bottom: rem-calc(30);
			overflow: hidden;
			text-align: center;
			background-color: rgba(10,10,10,.6);
			
			.background-image{
				position: absolute;
				top: 0;
				left: 0;
				z-index: -9;
				width: 100%;
				height: auto;
			}

			.placeholder-logo{
				width: rem-calc(250);
				height: rem-calc(250);
				border-radius: 50%;
				border: 1px solid $light-gray;
				transform: scale(.4);
			}

			.cropit-preview{
				// margin: 85px auto 40px auto;
				transform: scale(.4);

				.cropit-preview-image-container{
					cursor: default;
				}
			}

			& > * {
				color: $white;
			}
		}
	}

	#platforms{
		.img-container{
			text-align: center;
			cursor: pointer;
			
			img{
				border: 5px solid transparent;
				border-radius: 10%;
				transition: all .6s cubic-bezier(0.76, -0.07, 0.32, 1.28);
			}

			&:hover{
				img{
					border: 8px solid lighten($light-gray,20);
					border-radius: 50%;
				}
			}

			&.active{
				img{
					border: 8px solid lighten($red,10);
					border-radius: 50%;	
				}
			}

			.msg{
				display: none;
				font-size: rem-calc(14);
			}
		}
	}

	#productRequired{
		.product-required-select{
			display: inline-block;
			// vertical-align: top;
		
			&:not-last-of-type{
				// margin-right: rem-calc(19);
			}

			& > * {
				display: inline-block;
				// margin-right: rem-calc(12);
				color: $dark-gray;
			}
		}
	}

	// #describeYourCampaign{
		
	// }
}