#section_creators-profile{ 
	margin-bottom: rem-calc(30);

	&.active{
		display: block;
	}
	
	#creators__profile{
		.sub{
			margin-bottom: rem-calc(18);
			font-size: rem-calc(12);
			color: $dark-gray;
		}

		.gender{
			& > div{
				position: relative;
				display: inline-block;
				margin-right: rem-calc(12);
				cursor: pointer;
				
				&:first-of-type{
					&:before{
						content: "Male";
					}
				}

				&:nth-of-type(2){
					&:before{
						content: "Female";
					}
				}

				&:last-of-type{
					&:before{
						content: "Both";
					}
				}

				&:before{
					position: absolute;
					bottom: -22px;
					width: 100%;
					text-align: center;
					font-size: rem-calc(12);
					color: $dark-gray;
				}

				img{
					max-width: rem-calc(60);
					border-radius: 50%;
				}

				.overlay{
					position: absolute;
					z-index: 9;
					width: 100%;
					height: 100%;
					transform: scale(0);
					border-radius: 50%;
					background-image: url('../img/blue-btn.png');
					background-size: cover;
					opacity: 0;
					transition: transform .4s ease, opacity .2s ease-in;
				}

				img.ok-check{
					display: none;
					position: absolute;
					top: -8px;
					right: -8px;
					z-index: 99;
					max-width: rem-calc(33);
					max-height: rem-calc(33);
				}

				&.active{
					.overlay{
						transform: scale(1);
						opacity: .2;
					}

					img.ok-check{
						display: block;
					}
				}
			}
		}

		.slider-container{
			margin-top: rem-calc(35);
		}
	}

	.creators__category{
		.creators__category-container{
			margin-top: rem-calc(24);
			margin-bottom: rem-calc(24);
		}

		.category-item{
			cursor: pointer;

			h6{
				font-weight: 700;
				color: $medium-gray;
				text-align: center;

				@include breakpoint(large){
					font-size: rem-calc(14);
				}
			}

			.img-container{
				position: relative;
				margin: auto;
				text-align: center;

				&.alt{
					margin-top: rem-calc(24);
				}

				@include breakpoint(large){
					max-width: 40%;
				}
				
				.selected{
					position: absolute;
					right: -14px;
					top: -14px;
					width: rem-calc(33);
					height: rem-calc(33);
					background-color: lighten($light-gray,10);
					border-radius: 50%;
					background-image: url('../img/check-ok.png');
					background-size: 70%;
					background-position: center;
					background-repeat: no-repeat;
					transform: scale(.4);
					opacity: 0;
					transition: all .4s ease;
				}
			}

			&:hover{
				.selected{
					opacity: 1;
					transform: scale(1);
					opacity: .2;
					background-blend-color: multiply;
				}
			}

			&.active{
				.selected{
					background-color: $red;
					opacity: 1;
					transform: scale(1);
					
				}
			}

		}
	}

	.creators__find-perfect{
		margin-bottom: rem-calc(30);
		
		label{
			padding-left: rem-calc(12) !important;
		}

		.help{
			display: inline-block;
			vertical-align: middle;
			font-size: rem-calc(14);
		}
	}
	
}