#pageTitle{
	.title-container{
		padding-bottom: rem-calc(16);
		border-bottom: 1px solid $light-gray;
	}
}

#WizardStepOne{
	.wizard-step{
		text-align: center;
		
		.wizard-step_list{
			li{
				position: relative;
				display: inline-block;
				width: rem-calc(200);
				margin: 0;
				margin-left: -4px;
				padding: 0;
				list-style-type: none;

				&:not(:last-child):before{
					content:"";
					width: 100%;
					height: rem-calc(2);
					position: absolute;
					left: rem-calc(40);
					top: 27%;
					z-index: 9;
					background-color: $red;
					transform-origin: left center;
					transform: scaleX(0);
					transition: all .4s cubic-bezier(0, 0, 0.2, 1);
				}

				&:not(:last-child):after{
					content:"";
					width: 100%;
					height: rem-calc(2);
					position: absolute;
					left: rem-calc(40);
					top: 27%;
					background-color: lighten($light-gray,10);
				}

				&.active{
					&:before{
						// transform: scaleX(1);
					}

					.mark-container{
						.mark{
							border: 3px solid $red;
							background-color: $white;

							> * {
								color: $red;
							}
						}

						h6{
							color: $red;
						}
					}
				}

				&.completed{
					&:before{
						// background-color: $green-water;
						// transform: scaleX(1);
					}

					.mark-container{
						.mark{
							// border: 3px solid $green-water;
							background-color: $green-water;

							> * {
								color: $white;
							}
						}

						h6{
							color: $green-water;
						}
					}
				}

				.mark-container{
					position: relative;
					width: rem-calc(120);
					text-align: center;

					.mark{
						position: relative;
						z-index: 9;
						width: rem-calc(40);
						height: rem-calc(40);
						margin: auto;
						border-radius: 50%;
						// border: 3px solid $light-gray;
						background-color: lighten($light-gray,15);
						color: $dark-gray;
						transition: all .4s cubic-bezier(0, 0, 0.2, 1);

						> * {
							@include absolute-center;
							font-weight: 800;
							color: $light-gray;
							transition: color .4s cubic-bezier(0, 0, 0.2, 1);
						}
					}

					h6{
						// margin: auto;
						font-weight: 800;
						color: $light-gray;
						transition: color .4s cubic-bezier(0, 0, 0.2, 1);

						@include breakpoint(large){
							margin-top: rem-calc(12);
							font-size: rem-calc(12);
						}
					}
				}
			}
		}
	}
}