<div class="section_budget">
	<div class="row padding-min">
		<div class="column small-12">
			<h4>campaign budget</h4>
		</div>
		<div class="columns small-12">
			<div class="input-group">
			  <span class="input-group-label">$</span>
			  <input class="input-group-field input_check" placeholder="0.00" id="exampleNumberInput" type="number" required pattern="number"/>
			</div>
			<span class="form-error">I'm required</span>
		</div>
	</div>

	<div class="row padding-min">
		<div class="column small-12">
			<h4>max pay per cost</h4>
		</div>
		<div class="columns small-12">
			<label>
		        <input type="number" placeholder="Optional" aria-describedby="exampleHelpText" required pattern="number">
	      	</label>
		</div>
	</div>

	<div class="section_button_container">
	  {{> button}}  
	</div>

	<input type="hidden" name="id_val" id="id_val">

</div>