<div class="section_campaign-details active">

  <div class="row padding-min" id="dataBrand">

    <div class="columns small-12 large-4">
      <div class="set-logo">
        
        <div class="set-logo_container" id="cropit-logo">
          <div class="image-editor">
            <div class="cropit-preview"></div>
              <input type="file" id="set-logo-input" class="cropit-image-input inputfile">
              <label class="label-logo-upload" for="set-logo-input" keypress></label>

              <input type="range" class="cropit-image-zoom-input">
              <div class="confirm-logo"></div>

              <input id="data-logo" type="hidden" name="brandLogo" value="">
            </div>
        </div>
        
      </div>
    </div>

    <div class="columns small-12 large-8">
      <input class="" type="text" name="brandName" id="brandName" value="" placeholder="Brand name">
      <input class="" type="text" name="CampaignName" id="campaignName" value="" placeholder="Campaign name">
     

      <div class="ex-portada">
        <img src="http://via.placeholder.com/250x250/fff/fff" alt="" class="placeholder-logo">
        <!-- background-image set with the upload file -->
        <img class="background-image" src="https://static.pexels.com/photos/573897/pexels-photo-573897.jpeg" alt="">
        <h2>Brand name</h2>
        <h5>Campaign name</h5>
      </div>
      
      <input type="file" class="campaign-image inputfile" name="campaignImg" id="campaignImg" value="" placeholder="">
      <input type="hidden" id="campaignImgData" name="campaignImgData" value="">
      <label class="label-campaign-img" for="campaignImg"><i>+</i>upload campaign image</label>
    </div>
  </div>
  
  <div class="row padding-min" id="platforms">
    <div class="columns small-12">
      <div class="title">
        <h4>Platform</h4>
      </div>
    </div>
    <div class="columns small-3">
      <div class="img-container active">
        <img src="https://cdn2.iconfinder.com/data/icons/popular-social-media-flat/48/Popular_Social_Media-08-128.png" alt="instagram">
        <input type="hidden" name="instach" value="instagram">
      </div>
    </div>
    <div class="columns small-3">
      <div class="img-container">
        <img src="https://cdn2.iconfinder.com/data/icons/popular-social-media-flat/48/Popular_Social_Media-13-128.png" alt="twitter">
        <div class="msg"><p>Soon you will be able to use this platform!</p></div>
        <input type="hidden" name="instach" value="">
      </div>
    </div>
    <div class="columns small-3">
      <div class="img-container">
        <img src="https://cdn2.iconfinder.com/data/icons/popular-social-media-flat/48/Popular_Social_Media-02-128.png" alt="facebook">
        <div class="msg"><p>Soon you will be able to use this platform!</p></div>
        <input type="hidden" name="instach" value="">
      </div>
    </div>
    <div class="columns small-3">
      <div class="img-container">
        <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/youtube_circle_color-128.png" alt="youtube">
        <div class="msg"><p>Soon you will be able to use this platform!</p></div>
        <input type="hidden" name="instach" value="">
      </div>
    </div>
  </div>

  <div class="row padding-min" id="productRequired">
    <div class="columns small-12">
      <h4>is the product display required</h4>
    </div>
    <div class="columns small-12 padding--min">
      <div class="product-required-select">
        <div class="help">Yes</div>
        <input type="radio" name="displayRequired" id="isRequired" value="Yes" placeholder="" checked="">
        <label for="isRequired"></label>
      </div>

      <div class="product-required-select">
        <div class="help">No</div>
        <input type="radio" name="displayRequired" id="noRequired" value="No" placeholder="">
        <label for="noRequired"></label>
      </div>
    </div>
  </div>

  <div class="row padding-min" id="describeYourCampaign">
    <div class="columns small-12">
      <div class="title-container">
        <h4 class="input-required">describe your campaign idea</h4>
      </div>
      <textarea class="required input_check" name="describe" id="" placeholder="Describe your company..." cols="30" rows="10" required></textarea>
      <span class="form-error">I'm required!</span>
    </div>
  </div>

  <div class="section_button_container">
    {{> button_next}}  
  </div>
</div>