<div class="row" id="section_creators-profile">
  <div class="small-12 columns">
    <div class="row padding-min" id="creators__profile">
      <div class="small-12 columns creators__profile">
        <h4 class="input-required">creators profile</h4>
      </div>

      <div class="small-4 columns">
        <h4 class="sub">gender</h4>

          <div class="gender">
            <div class="male-selection active">
              <div class="overlay"></div>
              <img class="ok-check" src="assets/img/check-ok.png" alt="selected">
              <img class="" class="ic" src="assets/img/ic-male.png" alt="Male">
            </div>

            <div class="female-selection">
              <div class="overlay"></div>
              <img class="ok-check" src="assets/img/check-ok.png" alt="selected">
              <img class="" class="ic" src="assets/img/ic-female.png" alt="Female">
            </div>

            <div class="female-selection">
              <div class="overlay"></div>
              <img class="ok-check" src="assets/img/check-ok.png" alt="selected">
              <img class="" class="ic" src="assets/img/trans.png" alt="Both">
            </div>
            


            <input id="ch-gender" type="hidden" name="gender" value="">
          </div>
      </div>

      <div class="small-8 columns">
        <h4 class="sub">age</h4>
        <input type="hidden" class="slider-input" name="age_range" value="18" />
        <input type="hidden" class="slider-input" name="age_to" value="30" />
        <div class="range-slider"></div>
      </div>
    </div>
  </div>

  <div class="small-12 columns creators__category">
    <div class="row" data-equalizer>
      <div class="columns small-12 padding--min">
        <h4 class="input-required">creators category</h4>
        <h6>You can select at least three categories.</h6>
      </div>

      <div class="columns small-4 large-3 padding--min creators__category-container" data-equalizer-watch>             
        <div class="category-item active" id="1">
          <h6>Fashion & <br> Beauty</h6>
          <div class="img-container">
            <div class="selected"></div>
            <img src="assets/img/cat-fashion.png" alt="fashion">
          </div>
        </div>
      </div>
      
      <div class="columns small-4 large-3 creators__category-container" data-equalizer-watch>
        <div class="category-item active" id="2">
          <h6>Food & <br>  Drinks</h6>
          <div class="img-container">
            <div class="selected"></div>
            <img src="assets/img/cat-food.png" alt="food">
          </div>
        </div>
      </div>
        
      <div class="columns small-4 large-3 creators__category-container" data-equalizer-watch>
        <div class="category-item" id="3">
          <h6>Health & <br>  Fitness</h6>
          <div class="img-container alt">
            <div class="selected"></div>
            <img src="assets/img/cat-health.png" alt="health">
          </div>
        </div>
      </div>
      
      <div class="columns small-4 large-3 creators__category-container" data-equalizer-watch>
        <div class="category-item" id="4">
          <h6>Lifestyle</h6>
          <div class="img-container alt">
            <div class="selected"></div>
            <img src="assets/img/cat-lifestyle.png" alt="lifestyle">
          </div>
        </div>
      </div>
      
      <div class="columns small-4 large-3 creators__category-container" data-equalizer-watch>
        <div class="category-item" id="5">
          <h6>Travel</h6>
          <div class="img-container">
            <div class="selected"></div>
            <img src="assets/img/cat-travel.png" alt="travel">
          </div>
        </div>
      </div>
      
      <div class="columns small-4 large-3 creators__category-container" data-equalizer-watch>
        <div class="category-item" id="6">
          <h6>Sports</h6>
          <div class="img-container alt">
            <div class="selected"></div>
            <img src="assets/img/cat-sports.png" alt="sports">
          </div>
        </div>
      </div>
      
      <div class="columns small-4 large-3 creators__category-container" data-equalizer-watch>
        <div class="category-item" id="7">
          <h6>Gaming</h6>
          <div class="img-container">
            <div class="selected"></div>
            <img src="assets/img/cat-gamming.png" alt="gamming">
          </div>
        </div>
      </div>
      
      <div class="columns small-4 large-3 creators__category-container" data-equalizer-watch>
        <div class="category-item" id="8">
          <h6>Home decor <br>  design</h6>
          <div class="img-container">
            <div class="selected"></div>
            <img src="assets/img/cat-home.png" alt="home">
          </div>
        </div>
      </div>

      <input type="hidden" name="category_id" value="">
    </div>
  </div>

  <div class="small-12 columns">
    <div class="row padding-min creators__req">
      <div class="columns small-12 padding--min">
          <h4 class="input-required">creators requirements</h4>
          <label>
            <textarea class="" name="creator_requirement" id="" placeholder="Describe your ideal content creator profile..." cols="30" rows="10"  required></textarea>
          </label>
      </div>
    </div>
  </div>

  <div class="small-12 columns">
    <div class="row">
      <div class="row creators__find-perfect">
        <div class="columns small-6">
            <div class="find-the-perfect">
            <input type="radio" name="approve_my_own_creators" id="find-the-perfect" checked="" value="find-the-perfect" >
            <label for="find-the-perfect"></label>
            <div class="help">Please find the perfect creator for my campaign</div>
            </div>
        </div>

        <div class="columns small-6">
            <div class="find-the-perfect">
            <input type="radio" name="approve_my_own_creators" id="let-me-approve" value="let-me-approve" >
            <label for="let-me-approve"></label>
            <div class="help">Let me approve my own creators</div>
                <span data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover="false" tabindex="1" title="Here you can select whether you want.">i</span>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{> button_next}}

<!-- INPUT HIDDEN  -->