<div class="section_post-requirements">
  <div class="row padding-min">
    <div class="columns small-12">
      <div class="post-requirements">
        <h4 class="input-required">post requirements</h4>
        <textarea class="required input_check" name="requirements" id="" placeholder="Describe your ideal content..." cols="30" rows="10" required></textarea>
        <span class="form-error">I'm required!</span>
      </div>
    </div>
  </div>

  <div class="row padding-min">
    <div class="columns small-12">
      <h4>add visual examples</h4>
    </div>

    <div class="columns small-12">
      <div class="visual-examples">

        <div class="visual-examples_item">
          <input class="visual-example-file inputfile" type="file">
          <img class="visual-example-preview" src="assets/img/placeholder.png" height="200" alt="Image preview...">
          <div class="magnifiyng"></div>
        </div>
        
        <div class="visual-examples_item">
          <input class="visual-example-file inputfile" type="file">
          <img class="visual-example-preview" src="assets/img/placeholder.png" height="200" alt="Image preview...">
          <div class="magnifiyng"></div>
        </div>
        
        <div class="visual-examples_item">
          <input class="visual-example-file inputfile" type="file">
          <img class="visual-example-preview" src="assets/img/placeholder.png" height="200" alt="Image preview...">
          <div class="magnifiyng"></div>
        </div>
        
        <div class="visual-examples_item">
          <input class="visual-example-file inputfile" type="file">
          <img class="visual-example-preview" src="assets/img/placeholder.png" height="200" alt="Image preview..."> 
          <div class="magnifiyng"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row padding-min">
    <div class="columns small-12 large-6 padding--min">
      <h4 class="input-required">Post message</h4>
      <textarea class="required input_check" name="describe" id="" placeholder="Describe your company..." cols="30" rows="10" required></textarea>
      <span class="form-error">I'm required!</span>
    </div>
    <div class="columns small-12 large-3 hashtag-container padding--min">
      <h4 class="input-required">Hashtag</h4>
      <textarea class="required input_check hashtag_area" name="describe" id="" placeholder="Describe your company..." cols="30" rows="10" required></textarea>
      <span class="form-error">I'm required!</span>
    </div>
    <div class="columns small-12 large-3 mentions-container padding--min">
      <h4 class="input-required">Mentions</h4>
      <textarea class="required input_check mentions_area" name="describe" id="" placeholder="Describe your company..." cols="30" rows="10" required></textarea>
      <span class="form-error">I'm required!</span>
    </div>
  </div>
  
  <div class="row padding-min">
    <div class="column small-12">
      <h4 class="input-required">receive sumission until</h4>
    </div>
    <div class="column small-12">
      <input data-toggle="datepicker">
    </div>
  </div>

  <div class="row padding-min">
    <div class="column small-12 padding--min">
      <h4 class="input-required">preferences</h4>
    </div>

    <div class="column small-12 padding--min">
      <h4 class="sub">Dates</h4>
    </div>

    <div class="column small-12">
      
      <div class="radio-container">
        <input type="checkbox" name="choose" id="mon" checked>
        <label for="mon"></label>
        <div class="help">mon</div>
      </div>

      <div class="radio-container">
        <input type="checkbox" name="choose" id="tue">
        <label for="tue"></label>
        <div class="help">tue</div>
      </div>

      <div class="radio-container">
        <input type="checkbox" name="choose" id="wed">
        <label for="wed"></label>
        <div class="help">wed</div>
      </div>

      <div class="radio-container">
        <input type="checkbox" name="choose" id="thu">
        <label for="thu"></label>
        <div class="help">thu</div>
      </div>

      <div class="radio-container">
        <input type="checkbox" name="choose" id="fri">
        <label for="fri"></label>
        <div class="help">fri</div>
      </div>

      <div class="radio-container">
        <input type="checkbox" name="choose" id="sat">
        <label for="sat"></label>
        <div class="help">sat</div>
      </div>

      <div class="radio-container">
        <input type="checkbox" name="choose" id="sun">
        <label for="sun"></label>
        <div class="help">sun</div>
      </div>
          
    </div>
  </div>

  <div class="row padding-min">
    <div class="column small-12">
      <h4 class="sub input-required">Hours</h4>
    </div>

    <div class="column small-12">
      <div class="hours-container">
        <img src="" alt="">
        <input type="hidden" class="slider-input-hours" value="23" />
        <div class="range-hours"></div>
      </div>
    </div>
  </div>

  <div class="section_button_container">
    {{> button_next}}  
  </div>

</div>