  <div class="row padding-min" id="WizardStepOne">
    <div class="columns small-12">
      <div class="wizard-step">
        <ul class="wizard-step_list">
          <li class="active">
            <div class="mark-container">
              <div class="mark">
                <span>1</span>
              </div>
              <h6>Campaign details</h6>
            </div>
            
          </li>

          <li>
            <div class="mark-container">
              <div class="mark">
                <span>2</span>
              </div>
              <h6>Creators profile</h6>
            </div>
          </li>

          <li>
            <div class="mark-container">
              <div class="mark">
                <span>3</span>
              </div>
              <h6>Post requirements</h6>
            </div>
          </li>

          <li>
            <div class="mark-container">
              <div class="mark">
                <span>4</span>
              </div>
              <h6>Budget</h6>
            </div>
          </li>

        </ul>
      </div>
    </div>
  </div>
  